In [1]:
import nltk

In [2]:
import pandas as pd

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vamsi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
fake=pd.read_csv('Fake.csv')
genuine=pd.read_csv('True.csv')

In [5]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [7]:
genuine

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [8]:
fake['genuiness']=0
genuine['genuiness']=1

In [10]:
fake

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [9]:
genuine

,title,text,subject,date,genuiness
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [11]:
dataset=pd.concat([fake,genuine])
dataset

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

## PRE PROCESSING

In [14]:
dataset=dataset.reset_index(drop=True)

In [15]:
dataset

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [18]:
dataset=dataset.drop(['date','title','subject'],axis=1)

In [19]:
dataset

                                                    text  genuiness
0      Donald Trump just couldn t wish all Americans ...          0
1      House Intelligence Committee Chairman Devin Nu...          0
2      On Friday, it was revealed that former Milwauk...          0
3      On Christmas day, Donald Trump announced that ...          0
4      Pope Francis used his annual Christmas Day mes...          0
...                                                  ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...          1
44894  LONDON (Reuters) - LexisNexis, a provider of l...          1
44895  MINSK (Reuters) - In the shadow of disused Sov...          1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...          1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...          1

[44898 rows x 2 columns]

In [20]:
from nltk.tokenize import word_tokenize
dataset['text']=dataset['text'].apply(word_tokenize)

In [21]:
dataset

                                                    text  genuiness
0      [Donald, Trump, just, couldn, t, wish, all, Am...          0
1      [House, Intelligence, Committee, Chairman, Dev...          0
2      [On, Friday, ,, it, was, revealed, that, forme...          0
3      [On, Christmas, day, ,, Donald, Trump, announc...          0
4      [Pope, Francis, used, his, annual, Christmas, ...          0
...                                                  ...        ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...          1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...          1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...          1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...          1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...          1

[44898 rows x 2 columns]

In [22]:
from nltk.stem.snowball import SnowballStemmer

In [23]:
sb=SnowballStemmer('english')

In [24]:
def stem_it(text):
    return [sb.stem(word) for word in text]

In [25]:
dataset['text']=dataset['text'].apply(stem_it)

In [26]:
dataset

                                                    text  genuiness
0      [donald, trump, just, couldn, t, wish, all, am...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [on, friday, ,, it, was, reveal, that, former,...          0
3      [on, christma, day, ,, donald, trump, announc,...          0
4      [pope, franci, use, his, annual, christma, day...          0
...                                                  ...        ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...          1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...          1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...          1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...          1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...          1

[44898 rows x 2 columns]

In [27]:
def stopword_revomal(text):
    return [word for word in text if len(word) >> 2]

In [28]:
dataset['text']=dataset['text'].apply(stopword_revomal)

In [29]:
dataset

                                                    text  genuiness
0      [donald, trump, just, couldn, wish, american, ...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [friday, reveal, that, former, milwauke, sheri...          0
3      [christma, donald, trump, announc, that, would...          0
4      [pope, franci, annual, christma, messag, rebuk...          0
...                                                  ...        ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...          1
44894  [london, reuter, lexisnexi, provid, legal, reg...          1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...          1
44896  [moscow, reuter, vatican, secretari, state, ca...          1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...          1

[44898 rows x 2 columns]

In [30]:
dataset['text']=dataset['text'].apply(' '.join)
dataset

                                                    text  genuiness
0      donald trump just couldn wish american happi y...          0
1      hous intellig committe chairman devin nune hav...          0
2      friday reveal that former milwauke sheriff dav...          0
3      christma donald trump announc that would back ...          0
4      pope franci annual christma messag rebuk donal...          0
...                                                  ...        ...
44893  brussel reuter nato alli tuesday welcom presid...          1
44894  london reuter lexisnexi provid legal regulator...          1
44895  minsk reuter shadow disus soviet-era factori m...          1
44896  moscow reuter vatican secretari state cardin p...          1
44897  jakarta reuter indonesia will sukhoi fighter w...          1

[44898 rows x 2 columns]

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(dataset['text'],dataset['genuiness'],test_size=0.25)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
Tdidfv=TfidfVectorizer(max_df=0.7)

In [40]:
Tdidfv_train=Tdidfv.fit_transform(x_train)
Tdidfv_test=Tdidfv.transform(x_test)

In [43]:
print(Tdidfv_train)

  (0, 38050)	0.023527388349455617
  (0, 48975)	0.03368588883532751
  (0, 67116)	0.06139552355832594
  (0, 7604)	0.029580200310134516
  (0, 64747)	0.03532689824143504
  (0, 76329)	0.03777531987809765
  (0, 56441)	0.018305251359496236
  (0, 51853)	0.04556156537421901
  (0, 75462)	0.054965797061576824
  (0, 71427)	0.045337451304006016
  (0, 50748)	0.018319980281641935
  (0, 13400)	0.014948274171065763
  (0, 89135)	0.016019770365094506
  (0, 86874)	0.020236168466464623
  (0, 47655)	0.03707674503689017
  (0, 1606)	0.032416601081702266
  (0, 79557)	0.039096475343487064
  (0, 80189)	0.03304075870333275
  (0, 79753)	0.018027761269283078
  (0, 54866)	0.015488653601053235
  (0, 72371)	0.041778863562903376
  (0, 85393)	0.07007796893617887
  (0, 31459)	0.03010127597184894
  (0, 24260)	0.0670777004933385
  (0, 71244)	0.03150223265364482
  :	:
  (33672, 48134)	0.18131095821839316
  (33672, 8124)	0.05368892577805533
  (33672, 13417)	0.03549925062493907
  (33672, 80569)	0.030575093602917866
  (33672, 87268)	0.028501370035644083
  (33672, 88282)	0.025514966485931895
  (33672, 13400)	0.07823675065936699
  (33672, 54866)	0.02702166854330387
  (33672, 85393)	0.0611293821127423
  (33672, 82477)	0.046562425526183907
  (33672, 9018)	0.053420808280808946
  (33672, 77845)	0.03371501176888475
  (33672, 62152)	0.047331963486412366
  (33672, 12124)	0.034846113047352696
  (33672, 80201)	0.021982269023303826
  (33672, 34618)	0.04340668872801857
  (33672, 10088)	0.050072531850473445
  (33672, 79925)	0.08040578705794878
  (33672, 54763)	0.03791674089723561
  (33672, 59730)	0.03446979096885244
  (33672, 81115)	0.04505081045909494
  (33672, 68126)	0.031556512125345555
  (33672, 64412)	0.12513434434758583
  (33672, 8156)	0.10094958041563834
  (33672, 87049)	0.056273464558585645

In [44]:
print(Tdidfv_test)

  (0, 88282)	0.024807647164547142
  (0, 87443)	0.06233380369431232
  (0, 87305)	0.034123766342131566
  (0, 87293)	0.04387345559421484
  (0, 85444)	0.1969827826133882
  (0, 83905)	0.08539693979156669
  (0, 83888)	0.10607192551222906
  (0, 80980)	0.031066000465148624
  (0, 80189)	0.05604528486561388
  (0, 80122)	0.02397563751644232
  (0, 79948)	0.03291383830131098
  (0, 79474)	0.06342190527366783
  (0, 78903)	0.0528077018558479
  (0, 78222)	0.08107672072707088
  (0, 77569)	0.07480689914491391
  (0, 77471)	0.03926376325995545
  (0, 75955)	0.04990606028132082
  (0, 75146)	0.0499811509862677
  (0, 74863)	0.08673476123715815
  (0, 74738)	0.08431182227996736
  (0, 74064)	0.29792874887633763
  (0, 73929)	0.050838227871633626
  (0, 72301)	0.04970149882425892
  (0, 72230)	0.04476648755319842
  (0, 72188)	0.09812495864228438
  :	:
  (11224, 57121)	0.08296513230052426
  (11224, 53868)	0.1853274599084096
  (11224, 48182)	0.12252985463498955
  (11224, 48047)	0.11351861953692108
  (11224, 47971)	0.09008005137269749
  (11224, 47675)	0.2517570660809974
  (11224, 41724)	0.15983820309730276
  (11224, 40804)	0.11716759540069588
  (11224, 40763)	0.07790546819937107
  (11224, 39279)	0.1240651695642413
  (11224, 35330)	0.12936577204272068
  (11224, 30567)	0.10943205596633887
  (11224, 24194)	0.12347665454249421
  (11224, 23049)	0.4676969069402992
  (11224, 21356)	0.12419730336103585
  (11224, 17701)	0.13077442358664737
  (11224, 16589)	0.14133615419964962
  (11224, 13971)	0.12365869158620266
  (11224, 13560)	0.09844044883445771
  (11224, 9978)	0.11121414512071208
  (11224, 9752)	0.17118965307283623
  (11224, 8674)	0.281256657496098
  (11224, 8264)	0.13146796696073496
  (11224, 1744)	0.10248768620770127
  (11224, 1000)	0.187514230087135

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
lr=LogisticRegression(max_iter=500)
lr.fit(Tdidfv_train,y_train)

LogisticRegression(max_iter=500)

In [48]:
y_pred=lr.predict(Tdidfv_test)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9878841870824053

In [51]:
from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(max_iter =100)
pac.fit(Tdidfv_train,y_train)

PassiveAggressiveClassifier(max_iter=100)

In [52]:
y_pred_pac=pac.predict(Tdidfv_test)
accuracy_score(y_test,y_pred_pac)

0.996792873051225